
<div class="card-panel teal #ffd54f amber lighten-2" style="height: 500px;width:100%">
  user:{{user}}
    <table>
      <tr>
        <td>
          <strong>Car Name :</strong>
        </td>
        <td>
          
          {{cname}}
          
        </td>
      </tr>
      <tr>
        <td><strong>Company :</strong></td>
        <td>
          {{company}}
        </td>
      </tr>
      <tr>
        <td>
          <strong>Colour :</strong>
        </td>
        <td>
          
          {{colour}}
          
        </td>
      </tr>
      <tr>
        <td><strong>Year :</strong></td>
        <td>
          {{year}}
        </td>
      </tr>
      <tr>
        <td>
          <strong>Number :</strong>
        </td>
        <td>
          
          {{num}}
          
        </td>
      </tr>
      
      <tr>
        <td>

        </td>
        <td>
          
          <a class="waves-effect waves-light btn" (click)="bookcar()">Book</a>
        </td>
      </tr>
    </table>

  </div>